  
  body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
 } 

 .cards {
  display: flex;
  gap: 155px;
 }

.left.card {
  width: 45%;
    }

.right.card {
  width: 45%;
 }

h1 {
  font-size: 5rem;
  max-width: 750px;
 }

.tile-image {
  width: 300px;
  float: left;
  margin-right: 50px;
     } 

 .highlight {
  color:midnightblue
 }

footer {
  text-align: right;
  color: midnightblue;

 }
 @media (max-width: 600px) {
  .cards {
    flex-direction: column;
    display: block;
    gap: 10px;
  }
  
  .left.card, .right.card {
    width: 100%;
      }
  h1 {
    text-align: center;
    font-size: 3.75rem;
  }
  
 .tile-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  float: none;
  }
  
  p {
    text-align: justify;
  }

.logo {
  width: 100px;
}
footer {
  display: block;
  width: 100%;
  text-align: right;
  color: midnightblue;
  clear: both; } }